.card {
  width: 100%;
  border: 2px solid black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 5px;
  margin: 5px;
  border-radius: 3px;
  display: flex;
  height: auto;
}

.coa {
  width: 50%;
}

.firstSection {
  width: 50%;
}

.secondSection {
  width: 50%;
}

.countryName {
  font-weight: 800;
  font-size: 20px;
}

.flags {
  width: 50%;
}

button {
  width: max-content;
  padding: 2px;
  height: fit-content;
  border-radius: 3px;
  border: none;
  background-color: blueviolet;
}
